footer{
    height: 8rem;
    background-color: rgb(39, 39, 39);
    margin-top: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.github img{
    height: 2.7rem;
    margin: 1rem;
}
footer p {
    margin-bottom: 1rem;
    font-size: .7rem;
}